mixin productBox(img, name, brand, link)
    .product-box
        a(href=link)  
            figure 
                img.img(src=img, alt=name)
                .details
                    h3.name=name 
                    h4.brand=brand